<div class="app-content content test_new">
  <div class="content-overlay">
  </div>
  <div class="header-navbar-shadow">
  </div>
  <div class="content-wrapper">
    <div class="content-header row">
      <div class="content-header-left col-md-9 col-12 mb-2">
        <div class="row breadcrumbs-top">
        </div>
      </div>
    </div>

    <div class="content-body">
      <section class="form-control-repeater">
        <div class="card">
        <div class="card-body">
          <%= render partial: "form" %>
          
        </div>
        </div>
      </section>
    </div>
  </div>
</div>