
<% if current_user %>
	<div class="header">
	  <div class="columns">
		  <div class="column">
		    <%= link_to 'Home', salon_infos_path, class: "btn submit-new"%>
		  </div>
		  <% if current_user.role == "Salon Owner" %>
			  <div class="column">
			    <%= link_to 'Salon Register Here', new_salon_info_path, class: "btn submit-new"%>
			  </div>
			<% else %>
				<div class="column btn submit-new"></div>
			<% end %>
		  <div class="column btn submit-new"></div>
		  <div class="column btn submit-new"></div>
		  <div class="column">
		    <%= link_to 'Logout',destroy_user_session_path, method: :delete , class: "btn submit-new"%>
		  </div>
		</div>
	</div>
	<%= image_tag "background.jpeg", style: "width: 100%;"%>
<% end %>