<div class="header">
  <div class="columns">
	  <div class="column">
	    hwbfhbj
	  </div>
	  <div class="column">
	    <h1>Welcome!!! To Salon</h1>
	  </div>
	  <div class="column">
	    <%= link_to 'Salon Register Here', new_salon_info_path, class: "btn btn-primary"%>
	  </div>
	</div>
</div>

<br>
<%= image_tag "background.jpeg", style: "width: 100%;"%>